{% extends "pages/base.html" %}

{% block title %} 
  <title>OpenInfra Sunbeam Game</title>
{% endblock %} 

{% block content %}
  <div class="container d-flex justify-content-center flex-column align-items-center"
      style="color: white">
    <h1>Project Sunbeam</h1>
  </div>
  <div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card">
      <div class="card-header">
        Validate Game Token
      </div>
      <div class="card-body">
        <form method="GET">
            <label for="token" class="form-label">Enter a token to validate</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="token-label" class="input-group-text">Game Token</span>
              </div>
              <input type="text" class="form-control" id="token" name="token"
                     aria-describedby="token-label"/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
    <!-- </div> -->
    <br/>
    {% if token %}
    <!-- <div class="container"> -->
      {% if valid %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Woohoo!</strong> Token {{ token }} is valid. Thanks for trying Sunbeam. Get some
          free stuff!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Hmm, that token you entered "{{ token }}" doesn't appear to be valid. Go back and try again.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
     </div>
    {% endif %}
  </div>

{% endblock %} 